/* Top controls
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#div-top-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#slider-topic-size-scaling-container {
    flex: 1 66%;
}

#slider-term-relevance-lambda-container {
    flex: 1 33%;
}


/* Graph container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#div-graphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#graph-topic-scatter-plot-container {
    flex: 2 66%;
}

#graph-term-relevance-bar-plot-container {
    flex: 1 33%;
}

